@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');


$main-font: "Geologica", sans-serif;

$main-size: 24px;
$action-size: 20px;
$detail-size: 16px;

$semibold: 600;
$regular: 400;
$light: 300;

// ---------------

$main-color: #001935;
$details-color: #909AA7;
$actions-color: #00B8FF;

$text-color: #FFFFFF;
$textRev-color: #000000;


$photo-color: #ff4930;
$quote-color: #ff8a00;
$link-color: #00cf35;
$chat-color: #00b8ff;
$audio-color: #7c5cff;
$video-color: #ff62ce;
